<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="note.emily.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="note.emily.entity.Account">
    <id column="member_account" jdbcType="VARCHAR" property="memberAccount" />
    <result column="member_password" jdbcType="VARCHAR" property="memberPassword" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from account
    where member_account = #{memberAccount,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="note.emily.entity.Account">
    insert into account (member_account, member_password, member_name
      )
    values (#{memberAccount,jdbcType=VARCHAR}, #{memberPassword,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="note.emily.entity.Account">
    update account
    set member_password = #{memberPassword,jdbcType=VARCHAR},
      member_name = #{memberName,jdbcType=VARCHAR}
    where member_account = #{memberAccount,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select member_account, member_password, member_name
    from account
    where member_account = #{memberAccount,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select member_account, member_password, member_name
    from account
  </select>
</mapper>